{% extends "master.html" %}
{% load staticfiles%}
{% block content %}
{% for message in messages%}
    {% if 'error' in message.tags %}
        <div class="alert alert-danger">
          <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
            {{message}}
        </div>
    {% elif 'success' in message.tags %}
        <div class="alert alert-success">
          <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
            {{message}}
        </div>
    {% endif %}
{% endfor %}


<div class='col-md-8'>
    <div class="panel panel-default">
        <div class="panel-heading">
            <h3 class="panel-title">Existing Statistics</h3>
        </div>
        <div class="panel-body">
            <table class="table table-striped">
                <tr>
                    <td><b>App Name</td>
                    <td><b>Version</td>
                    <td><b>Status</td>
                    <td></td>
                </tr>
                {% for app in pending_apps %}
                <tr>
                    <td>{{app.name}}</td>
                    <td>{{app.version}}</td>
                    <td>PENDING</td>
                    <td style="text-align:right">
                        <a class="btn btn-success disabled" href="/status/{{app.name}}_{{app.version}}">View</a>
                        <a class="btn btn-primary disabled" href="/todo/{{app.name}}_{{app.version}}">ToDo</a>
                        <a class="btn btn-danger disabled" href="/delete/{{app.name}}_{{app.version}}">Delete</a>
                    </td>
                </tr>
                {% endfor %}
                 {% for app in completed_apps %}
                <tr>
                    <td>{{app.name}}</td>
                    <td>{{app.version}}</td>
                    <td>ACTIVE</td>
                    <td style="text-align:right">
                        <a class="btn btn-success" href="/status/{{app.name}}_{{app.version}}">View</a>
                        <a class="btn btn-primary" href="/todo/{{app.name}}_{{app.version}}">ToDo</a>
                        <a class="btn btn-danger" href="/delete/{{app.name}}_{{app.version}}">Delete</a>
                    </td>
                </tr>
                {% endfor %}
            </table>
        </div>
    </div>
</div>
<div class='col-md-4'>
    <div class="panel panel-default">
        <div class="panel-heading">
            <h3 class="panel-title">Add New Statistics</h3>
        </div>
        <div class="panel-body">
            <form class="form-signin" action="/new_status/" method="post" enctype=multipart/form-data>
                {% csrf_token %}
                <label for="appname" class="sr-only">App Name</label>
                <input type="text" id="appname" name="appname" class="form-control" placeholder="Application Name" required autofocus>
                <br />
                <label for="version" class="sr-only">Version</label>
                <input type="text" id="version" name="version" class="form-control" placeholder="Version" required>
                <br />
                <label for="Gemfile" class="sr-only">Gemfile</label>
                <b>Gemfile: </b><input type="file" id="gemfile" name="gemfile" placeholder="Gemfile" required>
                <br />
                <br />
                <label for="Gemfilelock" class="sr-only">Gemfile</label>
                <b>Gemfile.lock: </b><input type="file" id="gemfilelock" name="gemfilelock" placeholder="Gemfile.lock" required>
                <br />
                <button class="btn btn-lg btn-primary btn-block" type="submit">Add</button>
            </form>
        </div>
    </div>
</div>

{% endblock %}
